{% extends 'base.html.twig' %}



{% block body %}
    <div class="videoWrapper">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/HGFa4VQxR48?autoplay=1" title="YouTube video player" frameborder="0" allow="muted; accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="LinkWrapper container">
        <div class="row">
            <div class="col-sm-6">
            <img src="img/left_side_map.svg" alt="French Map" class="french_map">
            </div>
            <div class="col-sm-6">
            <h2>Présentation des sites et des expériences les plus inoubliables de la Provence !</h2>
            <p>Présentation des sites et des expériences les plus inoubliables de la Provence !
                Inspirez-vous pour votre prochain voyage en Provence ! Profitez de nouvelles vidéos présentant touristiques incroyables dans quatre catégories :
                (1) Instagrammable Spot, (2) Food, (3) Activities (4) Wine</p>
                <a class="d-flex flex-row" href="#videos">
                    <img src="img/image1.png" class="img-fluid img-thumbnail img-horizon" alt="Instagrammable Spot">
                    <img src="img/instagram_pin.svg" class="img_pin img-fluid img-thumbnail" alt="Instagrammable Spot Pin">
                </a>
                <a class="d-flex flex-row" href="#videos">
                    <img src="img/image2.png" class="img-fluid img-thumbnail img-horizon" alt="Instagrammable Spot">
                    <img src="img/activity_pin.svg" class="img_pin img-fluid img-thumbnail" alt="Instagrammable Spot Pin">
                </a>
                <a class="d-flex flex-row" href="#videos">
                    <img src="img/image3.png" class="img-fluid img-thumbnail img-horizon" alt="Instagrammable Spot">
                    <img src="img/food_pin.svg" class="img_pin img-fluid img-thumbnail" alt="Instagrammable Spot Pin">
                </a>
                <a class="d-flex flex-row" href="#videos">
                    <img src="img/image4.png" class="img-fluid img-thumbnail img-horizon" alt="Instagrammable Spot">
                    <img src="img/wine_pin.svg" class="img_pin img-fluid img-thumbnail" alt="Instagrammable Spot Pin">
                </a>

            </div>
        </div>
    </div>

    {% for location in locations %}
        <div class="{{ location.colour }} my-5">
            <div id="videos" class="container">
                <div class="row">
                    <div class="col-md-6 d-flex justify-content-center">
                        <div class="card card_container">
                            <iframe width="420" height="315" src="{{location.videos}}"></iframe>
                            <a href="{{path("detail", {"id" : location.id} ) }}" class="d-flex justify-content-center detail_button">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
