{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <form>
        <div class="container">
            {% form_theme form 'bootstrap_5_layout.html.twig' %}
                {# (form) is the variable created in AdminController.php function create() #}
                {# 'form' => $form->createView(), #}
                {{form_start (form)}}
                    {{ form_widget (form)}}
                    <button type="submit" class="btn">Submit</button>
                {{form_end (form)}}
        </div>
    </form>
{% endblock %}
