<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" href="/img/logo.svg">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    </head>
    <body>

        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand navbar_logo mb-3" href="{{ path('main') }}">
                    <img src="/img/logo.svg" alt="Pin it !"/>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Add nav images later if I have time ! -->
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item ">
                            <a class="nav-link insta-nav" href="#green">
                                <img class="nav-pin1" src="/img/instagram_pin.svg" alt="Instagrammable Spot"/>
                                Instagrammable Spot
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link food_nav" href="#yellow">
                                <img class="nav-pin2" src="/img/nav_food.svg" alt="Food"/>
                                Food
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link avtivities_nav" href="#blue">
                                <img class="nav-pin3" src="/img/nav_activities.svg" alt="Activities"/>
                                Activities
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link wine_nav" href="#pink">
                                <img class="nav-pin4" src="/img/nav_wine.svg" alt="Wine"/>
                                Wine
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <main>
            {% block body %}{% endblock %}
            <a id="back-to-top" href="#top"><i class="fas fa-chevron-up"></i></a>
        </main>

        <footer class="footer">
            <div class="row">
                <a href="https://www.departement13.fr/" target="_blank" class="column">
                    <img src="/img/d13.png" alt="d13"/>
                </a>
                <a href="https://www.voyage-prive.com" target="_blank" class="column">
                    <img src="/img/voyageprive.png" alt="voyage privé"/>
                </a>
                <a href="https://inco-group.co/" target="_blank" class="column">
                    <img class="smaller" src="/img/inco.png" alt="inco"/>
                </a>
            </div>
            <div class="row">
                <a href="https://www.myprovence.fr/" target="_blank" class="column">
                    <img class="smaller" src="/img/provencetourisme.png" alt="my provence"/>
                </a>
                <a href="https://code4marseille.fr/" target="_blank" class="column">
                    <img class="smaller" src="/img/code4marseille.png" alt="code4marseille"/>
                </a>
                <a href="https://aws.amazon.com/fr/?nc2=h_lg" target="_blank" class="column">
                    <img src="/img/AWS.png" alt="aws"/>
                </a>
            </div>
        </footer>

        <!-- fontawesome -->
        <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>
        <!-- Javascript files from the main branch -->
        <script src="function.js"></script>
        <!-- JavaScript Bundle with Popper  Bootstrap-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    </body>
</html>

